@import "@/assets/styles/variables";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Aeonik, sans-serif;
  color: $yellow-color;
  font-size: 1em;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0em;
}
